* {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 8.33rem 6.66rem, 8.33rem 30.55rem;
  background-size: 95%, 95%;
  background-color: hsl(185, 75%, 39%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* MAIN */
.container {
  width: 19.4rem;
  display: flex;

  align-items: center;
  justify-content: center;
  background: url(./images/bg-pattern-card.svg) no-repeat #fff;
  border-radius: 18px;
}

.card {
  margin: 5.27rem;
  margin-bottom: 1.66rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__photo {
  width: 5rem;
  border-radius: 100%;
  border: 5px solid hsl(0, 0%, 100%);
}

.card__profile {
  margin: 1.389rem 0;
}

.card__profile-name,
.card__profile-age {
  display: inline-block;
  margin: 0 0.278rem;
}

.card__profile-country {
  text-align: center;
  margin-top: 0.278rem;
  font-size: 0.9em;
}

.card__profile-age,
.card__profile-country {
  color: hsl(227, 10%, 46%);
}

.card__stats {
  display: grid;
  grid-template-columns: repeat(3, 110px);
  grid-template-rows: auto;
  text-align: center;
}

.card__stats-post {
  font-weight: 700;
  line-height: 1.38rem;
}

.card__stats-post p {
  font-weight: normal;
  font-size: 0.7em;
  color: hsl(0, 0%, 59%);
}

/* FOOTER */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: url(./images/bg-pattern-top.svg),
      url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -5.55rem -10rem, 19.44rem 36.11rem;
    background-size: 80%, 80%;
    background-color: hsl(185, 75%, 39%);
  }
}

@media screen and (min-width: 1200px) {
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: url(./images/bg-pattern-top.svg),
      url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -27.77rem -27.77rem, 30.55rem 27.77rem;
    background-size: 80%, 80%;
    background-color: hsl(185, 75%, 39%);
  }
}
